<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo</title>
</head>
<body>

    <h1>Hola mundo</h1>
    <p>Datos personales</p>
    <ul>
        <li>Juan Alejandro Dawaher Dawahra</li>
        <li>CI : 31576161</li>
        <li>Seccion 3</li>
    </ul>

</body>
</html>