<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFoRMACION</title>
    <link rel="icon" href="./img/music-album.png" type="png">
    <link rel="stylesheet" href="./css/info.css">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="nav">
        <div class="nav__container container">
            <div>
               <a href="/index"><img src="./img/music-album roja.png" alt="" class="nav__img"></a> 
            </div>
           
            <ul class="nav__ul">
                <li class="nav__li"><a href="/registro" target="_blank" title="REGiSTRO" class="nav__a active">ReGISTRO</a></li>
                <li class="nav__li"><a href="/inicio_sesion" target="_blank" title="REGiSTRO" class="nav__a">INICiO De SESIoN</a></li>
                <li class="nav__li"><a href="/instrumentos" class="nav__a">INSTRuMENTOS DiSPONIBLES</a></li>
                <li class="nav__li"><a href="/pedir" target="_blank" class="nav__a active">PEDIR Ya</a></li>
                <li class="nav__li"><a href="/info" target="_blank" title="INFoRMACION" class="nav__a">INFoRMACION</a></li>
            </ul>
        </div>
    </nav>

    <section class="section__bienvenida">

        <div class="div_h2">
            <h2 class="h2__mensaje">Bienvenido</h2>
        </div>

        <div class="div__h3">
            <h3 class="h3__mensaje"> a continuacion te hablaremos de nuestro modelo de negocio y nuestro servicio</h3>
        </div>
        
        <div class="div__p"> 
            <p class="p_info">Bienvenido a nuestra tienda MUSic aT HoME de instrumentos musicales a domicilio, donde la música llega directamente a tu hogar. Ofrecemos una amplia selección de instrumentos y accesorios, permitiéndote explorar, comprar sin salir de casa. Nuestra plataforma está diseñada para brindarte toda la información que necesitas, desde características y precios . Además, contamos con un equipo de expertos listos para asesorarte en la elección del instrumento perfecto para ti en nuestro numero telefonico. Disfruta de la comodidad de recibir tus productos en la puerta de tu casa y vive la experiencia musical que siempre has deseado.</p>
        </div>
        
    </section>

    <section class="section__atributos">
        <div class="div__atributos div--ventajas">
            <h3 class="h3__ventajas">Ventajas de estar con MUSiC aT HoME</h3>
            <ul class="p__ventajas">
                Accesibilidad 24/7
                <br>
                Amplia Variedad de Productos
                <br>
                Facilidad de Comparación
                <br>
                Reseñas y Valoraciones
                <br>
                Presión de Ventas
            <ul/>
        </div>
        <div class="div__atributos div--beneficios">
            <h3 class="h3__beneficios">beneficios de estar con MUSiC aT HoME</h3>
                <p class="p__beneficios">
                Envío a Domicilio
                <br>
                Facilidad de Devoluciones
                <br>
                Ofertas Exclusivas
                <br>
                Métodos de Pago Diversos
                <br>
                Asesoramiento Virtual
            </p>
        </div>
    </section>

<section class="section__asesoramiento">
    <div class="div__section">
        <h2 class="section__h2">contactanos!</h2>
        <p class="section__p">visitanos a nuestro whatsApp para recibir Asesoramiento virtual
        </p>
        <h4 class="section__h4 h4--esperamos">te esperamos ❤︎</h4>
        <a target="_blank" title="contactanos" class="a__whatsapp" href="https://wa.me/584144875124">
            <i class="fab fa-whatsapp"></i> MUSiC aT HoME WhatsAPP
        </a>
    </div>
</section>

<footer class="footer">
    <div class="footer__container container">
        <img src="./img/music-album 128.png" alt="" class="footer__img">
        <ul class="footer__ul">
            <li class="footer__li">
                <a href="https://www.instagram.com" target="_blank" class="footer__a">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
            </li>
            <li class="footer__li">
                <a href="https://www.tiktok.com" target="_blank" class="footer__a">
                    <i class="fab fa-tiktok"></i> TikTok
                </a>
            </li>
            <li class="footer__li">
                <a href="https://www.facebook.com" target="_blank" class="footer__a">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
            </li>
            <li class="footer__li">
                <a href="mailto:info@musichome.com" class="footer__a">
                   <i class="fas fa-envelope"></i> Email
                </a>
            </li>
        </ul>
        <span class="footer__span">2025 MUSiC aT HoME. TODOS LOS DERECHOS RESERVADOS.</span>
    </div>
</footer> 
</body>
</html>