<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO SeSION</title>
    <link rel="shortcut icon" href="./img/music-album.png" type="png">
    <link rel="stylesheet" href="./css/inicio_sesion.css">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="nav">
        <div class="nav__container container">
            <div>
               <a href="/index"><img src="./img/music-album roja.png" alt="" class="nav__img"></a> 
            </div>
           
            <ul class="nav__ul">
                <li class="nav__li"><a href="/registro" target="_blank" title="REGiSTRO" class="nav__a active">ReGISTRO</a></li>
                <li class="nav__li"><a href="/inicio_sesion" target="_blank" title="REGiSTRO" class="nav__a">INICiO De SESIoN</a></li>
                <li class="nav__li"><a href="/instrumentos" class="nav__a">INSTRuMENTOS DiSPONIBLES</a></li>
                <li class="nav__li"><a href="/pedir" target="_blank" class="nav__a active">PEDIR Ya</a></li>
                <li class="nav__li"><a href="/info" target="_blank" title="INFoRMACION" class="nav__a">INFoRMACION</a></li>
            </ul>
        </div>
    </nav>

    <form>

        <h3 class="h3__inicia">INICIA SESION PARA CONTINUNAR </h3>
    
        <div class="div__primera">
            <h4 class="h4__primera"> 
                ES TU PRIMERA VEZ?
                <a class="a__register" href="registro.html">REGISTRATE</a>
            </h4>
        </div>
        
      
        <label>🔐INGRESE TU USUARIO
            <div >
                <input type="text" required>
            </div>
        </label>
    
        <label>📄INGRESE TU CONTRASEÑA
            <div >
                <input type="password" required>
            </div>
        </label>
        <a class="a__enviar" target="_blank" title="ENVIAR" href="#">ENVIAR</a>
        </div>
    </form>

    <footer class="footer">
        <div class="footer__container container">
            <img src="./img/music-album 128.png" alt="" class="footer__img">
            <ul class="footer__ul">
                <li class="footer__li">
                    <a href="https://www.instagram.com" target="_blank" class="footer__a">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
                <li class="footer__li">
                    <a href="https://www.tiktok.com" target="_blank" class="footer__a">
                        <i class="fab fa-tiktok"></i> TikTok
                    </a>
                </li>
                <li class="footer__li">
                    <a href="https://www.facebook.com" target="_blank" class="footer__a">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </li>
                <li class="footer__li">
                    <a href="mailto:info@musichome.com" class="footer__a">
                       <i class="fas fa-envelope"></i> Email
                    </a>
                </li>
            </ul>
            <span class="footer__span">2025 MUSiC aT HoME. TODOS LOS DERECHOS RESERVADOS.</span>
        </div>
    </footer> 
</body>
</html>