<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSTRuMENTOS DiSPONIBLES</title>
    <link rel="shortcut icon" href="./img/music-album.png" type="png">
    <link rel="stylesheet" href="./css/intrumentos.css">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="nav">
        <div class="nav__container container">
            <div>
               <a href="/index"><img src="./img/music-album roja.png" alt="" class="nav__img"></a> 
            </div>
           
            <ul class="nav__ul">
                <li class="nav__li"><a href="/registro" target="_blank" title="REGiSTRO" class="nav__a active">ReGISTRO</a></li>
                <li class="nav__li"><a href="/inicio_sesion" target="_blank" title="REGiSTRO" class="nav__a">INICiO De SESIoN</a></li>
                <li class="nav__li"><a href="/instrumentos" class="nav__a">INSTRuMENTOS DiSPONIBLES</a></li>
                <li class="nav__li"><a href="/pedir" target="_blank" class="nav__a active">PEDIR Ya</a></li>
                <li class="nav__li"><a href="/info" target="_blank" title="INFoRMACION" class="nav__a">INFoRMACION</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--guitarra">GUITARRA</h4>
            <img src="./img/guitarra.png" class="img__guitarra" alt="GUITARRA">
            <h3 class="h3__precio">PRECIO 1189$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>

        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--bajo">BAJO</h4>
            <img src="./img/bajo.png" class="img__bajo" alt="BAJO">
            <h3 class="h3__precio">PRECIO 2099$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--bateria">BATERIA</h4>
            <img src="./img/bateria.png" class="img__bateria" alt="BATERIA">
            <h3 class="h3__precio">PRECIO 1799$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--arpa">ARPA</h4>
            <img src="./img/arpa.png" class="img__arpa" alt="ARPA">
            <h3 class="h3__precio">PRECIO 199$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--GuitarraElectrica">GUITARRA ELECTRICA</h4>
            <img src="./img/guitarra electrica.png" class="img__GuitarraElectrica" alt="GUITARRA ELECTRICA">
            <h3 class="h3__precio">PRECIO 2899$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--maracas">MARACAS</h4>
            <img src="./img/maracas.png" class=" img__maracas" alt="MARACAS">
            <h3 class="h3__precio">PRECIO 69$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--piano">PIANO</h4>
            <img src="./img/piano.png" class="img__piano" alt="PIANO">
            <h3 class="h3__precio">PRECIO 12399$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--trompeta">TROMPETA</h4>
            <img src="./img/trompeta.png" class="img__trompeta" alt="TROMPETA">
            <h3 class="h3__precio">PRECIO 879$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--violin">VIOLIN</h4>
            <img src="./img/violin.png" class="omg__violin" alt="VIOLIN">
            <h3 class="h3__precio">PRECIO 2399$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya" >PEDIR Ya</a>
        </div>

        <div class="div__intrumentos">
            <h4 class="h4__instrumento h4--cuatro">CUATRO</h4>
            <img src="./img/cuatro.png" class="img__cuatro" alt="CUATRO">
            <h3 class="h3__precio">PRECIO 99$</h3>
            <a class="link__intrumento" href="pedir.html" target="_blank" title="PEDIR Ya">PEDIR Ya</a>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__container container">
            <img src="./img/music-album 128.png" alt="" class="footer__img">
            <ul class="footer__ul">
                <li class="footer__li">
                    <a href="https://www.instagram.com" target="_blank" class="footer__a">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
                <li class="footer__li">
                    <a href="https://www.tiktok.com" target="_blank" class="footer__a">
                        <i class="fab fa-tiktok"></i> TikTok
                    </a>
                </li>
                <li class="footer__li">
                    <a href="https://www.facebook.com" target="_blank" class="footer__a">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </li>
                <li class="footer__li">
                    <a href="mailto:info@musichome.com" class="footer__a">
                       <i class="fas fa-envelope"></i> Email
                    </a>
                </li>
            </ul>
            <span class="footer__span">2025 MUSiC aT HoME. TODOS LOS DERECHOS RESERVADOS.</span>
        </div>
    </footer> 
</body>
</html>