* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Dawaher', sans-serif; 
    background: #ebb06e; 
    background-image: url(../img/classical-music-1920-x-1080.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 0.5rem 0; 
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
}

.nav__img {
    width: 87px;
    height: auto; 
}

.nav__ul {
    list-style-type: none;
    display: flex; 
    gap: 2.7em; 
}

.nav__li {
    display: inline; 
}

.nav__a {
    display: block;
    color: white;
    font-weight: bold;
    letter-spacing: 1.7px;
    text-decoration: none;
    padding-left: 28px;
    font-size: 1.1rem;
    text-shadow: 0 0 10px white;
    transition: color 0.3s; 
}

.nav__a:hover {
    color: #ebb06e; 
}

form {
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 80px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    background: rgba(235, 176, 110, 0.473); 
}

.h3__inicia {
    text-align: center; 
    margin-bottom: 20px; 
    color: #201d1d; 
    font-weight: 900;
}

.div__primera {
    text-align: center; 
    margin-bottom: 20px; 
}

.h4__primera {
    color: #3b3636;
    font-weight: 400;

}

.a__register {
    color: #92bce9; 
    text-decoration: none;
    font-weight: 400; 
}

.a__register:hover {
    text-decoration: underline; 
}

label {
    display: block; 
    margin-bottom: 15px; 
    color: #1b1919; 
}

input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 5px; 
}

.a__enviar {
    display: block; 
    text-align: center; 
    margin-top: 20px; 
    padding: 10px; 
    background: #007BFF; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
}

.a__enviar:hover {
    background: #0056b3; 
}

.footer{
    padding: 3.7rem;
    width: 100%;
    

}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.footer__ul{
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
}

.footer__li{
    padding: 0 2rem;
    border-left: solid 1px #18181a;
}

.footer__a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer__li.active{
    border-left: solid 1px #fff;
}

.footer__a.active{
    border-bottom: solid 1px #18181a;
}

.footer__img{
    width: 180px;
}

.footer__span{
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer__a:hover{ 
    background: rgba(255, 255, 255, 0.2) ; 
    
}
