*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
    font-family: 'dawaher';
    background: #ebb06e;
}

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.nav{
    background-color: rgba(0, 0, 0, 0.281);
    padding: 0.2rem;
    position: absolute;
    width: 100%;
    height: 100px;
}

.nav__container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav__img{
    width: 87px;
    margin-right: 20px;
    margin-top: 8px;
}

.nav__ul{
    list-style-type: none;
    display: flex;
    gap: 2.7em;

}

.nav__a{
    display: block;
    color: white;
    font-weight: bold;
    letter-spacing: 1.7px;
    text-decoration: none;
    font-size: 1.1rem;
    text-shadow: 0 0 10px white;
}

.nav__a:hover{
    color: #ebb06e;
}



.header{ 
    width: 100%;
    background-color: rgba(4, 10, 34, 0.685);
    background-image: url(./../img/classical-music-1920-x-1080.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3rem #211d25;
}

.header__title{
    text-align: center;
}

.header__h1{
    font-size: 4.6rem;
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
}

.header__span{
    color:white;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px;
}

    /* MAIN */

.main{
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    margin: 40px auto;
    gap: 1em;
} 

.main__pic{
    background-image: url(../img/guitarra.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid #3f3e3e 7.5px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(32, 24, 10);
}

.forum__pic{
    background-image: url(./../img/piano.png);
    transform: rotateY(180deg);
}

.main__txt{
    background-color: #ecedef;
    border-radius: 12px;
    padding: 2.5rem;
    text-align: center;
}

.main__h2{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.main__h3{
    letter-spacing: 1px;
    color: #2b2525;
    font-weight: 900;
    margin-top: 5px;
    font-size: 1.1rem;
}

.main__p{
    margin-top: 1rem;
    letter-spacing: 1px;
    font-size: .93rem;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    
}
.main__ul{
    margin-top: 1rem;
    display: grid;
    list-style-type: none;
    gap: 1em;
}

.main__li{
    padding: 1rem;
    background-color: white;
    letter-spacing: 1px;
    border-radius: 8px;
}

.guitarra__h2{
    color: #ee850d;
    font-size: 1.55rem;
}

.piano__h2{
    color: #3a72ec;
    font-size: 1.55rem;
}


.banner{
    background-color: #0c0c11;

}

.banner__container{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2em;
}

.banner__p{
    color: white;
    letter-spacing: 1.8px;
    font-weight: 100;
    text-align: center;
    font-size: 1.17rem;
    text-transform: uppercase;

}


.footer{
    padding: 1rem;
    width: 100%;
    

}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.footer__ul{
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
}

.footer__li{
    padding: 0 2rem;
    border-left: solid 1px #18181a;
}

.footer__a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer__li.active{
    border-left: solid 1px #fff;
}

.footer__a.active{
    border-bottom: solid 1px #18181a;
}

.footer__img{
    width: 180px;
}

.footer__span{
    font-weight: bold;
    padding-bottom: 1rem;
}
.footer__a:hover{
    background: rgb(255, 255, 255, 0.2);
}





@media (max-width:960px){
    .nav__container{
        gap: 1em;
    }

    .nav__ul{
        gap: 1em;
    }

    .nav__a{
        font-size: 12px;
    }

    .header__h1{
        font-size: 2.5rem;
    }

    .header__span{
        font-size: 1rem;
    }

    .main__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .banner__p{
        font-size: 10px;
    }

    .footer__ul{
        grid-auto-flow: row;
    }

    .footer__li{
        border-top: solid 1px #18181a;
        border-left: none;
    }

    .footer__a{
        margin: 10px 0;
    }
    
    .footer__li.active{
        border-top: none;
    }
    
    .footer__a.active{
        border-bottom: none;
    }
}